.instructor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    @media(max-width: 767px){
        grid-template-columns: 1fr;
        min-height: 90vh;
    }

    .instructor-content{
        width: 80%;

        h1{
            font-size: 2.5rem;
            @media(max-width: 767px){
                font-size: 2rem;
            }

            span{
                color: #6452da;
            }
        }
        p{
            width: 80%;
            margin: 20px 0;
            @media(max-width: 767px){
                width: 100%;
                padding: 0 20px;
            }
        }
        @media(max-width: 767px){
            text-align: center;
        }
    }
    img{
        max-width: 100%;
    }
    
}


.tutors{
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    .tutor-container{
        border-radius: 1rem;
        background-color: #d3cff0;
        width: 10rem;
        height: auto;
        padding: 10px;
        img{
            border-radius: 1rem 1rem 0 0;
            width: 100%;
        }
        h1{
            font-size: 1rem;
            text-align: center;
        }
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 5px 12px;
        background-color: #d3cff0;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        transition: background-color 0.6s ease;
    
        &.active {
          background-color: #6452da;
        }
    }
}

.fade {
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {transform: translateY(20%);} 
    to {transform: translateY(0);}
}