@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn{
    border-radius: 20px;
    border: none;
    background-color: #6452da;
    background-image: linear-gradient(to right, #6452da, #5da7e0);
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: transform 0.25s;
}

.btn:hover{
    background-color: rgb(93, 70, 148);
    background-image: linear-gradient(to right, #6452da, #705cec);
    transform: translateX(0.25rem);
}

.empty{
    min-height: 100px
}

.courses::-webkit-scrollbar {
    display: none;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@import 'home';
@import 'about';
@import 'courses';
@import 'instructor';
@import 'login';
@import 'cart';
@import 'checkout';
@import 'contact';